{% extends "base.html" %}

{% block content %}
<h2>Register Form</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {% for field in [form.password, form.password_again] %}
        <p>
            {{ field.label }}<br>
            {{ field(class="form-control", type="password") }}<br>
            {% for error in field.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
    {% endfor %}

    {% for field in [form.surname, form.name, form.age,
    form.position, form.speciality, form.address] %}
        <p>
            {{ field.label }}<br>
            {{ field(class="form-control") }}
            {% for error in field.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}